# Intro to Python

**Nice resource:** [Learn Python The Hard Way](http://learnpythonthehardway.org/book/)

**Outline:**

* [First Program](#First-Program)
* [Comments](#Comments)
* [Numbers and Math](#Numbers-and-Math)
* [Variables and Names](#Variables-and-Names)
* [Data Types](#Data-Types)
* [Making Decisions](#Making-Decisions)
* [Lists](#Lists)
* [Slicing](#Slicing)
* [Tuples](#Tuples)
* [Dictionaries](#Dictionaries)
* [Unpacking](#Unpacking)
* [Functions](#Functions)
* [Loops](#Loops)
* [Reading and Writing Files](#Reading-and-Writing-Files)
* [Modules](#Modules)
* [Exercises](#Modules)

* ใช้ set
* อ่าน csv
* ใช้ map, filter, reduce
* ใช้ Lamda

## First Program

In [1]:
print('Hello, young data scientists!')

Hello, young data scientists!

In [2]:
print('สวัสดี')

สวัสดี

## Comments

In [3]:
# this is a comment line.

In [4]:
# print('hello')

## Numbers and Math

In [5]:
25 + (30 / 6)

30.0

In [9]:
(25 / 5) - (30 / 6)

0.0

In [6]:
6 % 3

0

In [7]:
7 % 3

1

In [8]:
3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6

6.75

In [10]:
3 + 2 >= 5 - 7

True

## Variables and Names

In [11]:
cars = 100

In [13]:
cars

100

In [14]:
print(cars)

100

In [15]:
cars = 100
space_in_a_car = 4.0
drivers = 30
passengers = 90

In [16]:
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_a_car
average_passengers_per_car = passengers / cars_driven

In [17]:
print(cars_not_driven)
print(cars_driven)
print(carpool_capacity)
print(average_passengers_per_car)

70
30
120.0
3.0

In [18]:
_ = 10

In [19]:
10days = 50

SyntaxError: invalid syntax (<ipython-input-19-f8b7a254dc35>, line 1)

## Data Types

In [20]:
type(5)

int

In [21]:
type(5.5)

float

In [22]:
type('hello')

str

In [23]:
5 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
'5' + '5' + 'kkk'

'55kkk'

In [26]:
s = 'string'

s[4]

'n'

In [27]:
type(True)

bool

In [28]:
type(False)

bool

In [29]:
type([1, 2, 3])

list

In [30]:
item_list = [1, 2, 3, 'kkk']

In [31]:
item_list[1]

2

In [32]:
item_list[3]

'kkk'

In [33]:
item_list[4]

IndexError: list index out of range

In [34]:
item_list[-1]

'kkk'

In [35]:
item_list[0] = 99

In [36]:
item_list

[99, 2, 3, 'kkk']

In [37]:
type((5, 6, 7))

tuple

In [38]:
t = (5, 6, 7)
t[0]

5

In [39]:
t[0] = 99

TypeError: 'tuple' object does not support item assignment

In [40]:
type({'a': 10, 'b': 20})

dict

In [41]:
d = {'a': 'hello', 'b': 20}

d['a']

'hello'

In [42]:
d['b']

20

## Making Decisions

In [48]:
number = 1

if number == 1:
    print('Yes')
else:
    print('No')
    print('Noooooo')

Yes

In [49]:
people = 20
cats = 30
dogs = 15

if people < cats:
    print("Too many cats!")

if people > cats:
    print("Not many cats!")

if people < dogs:
    print("Too many dogs!")

if people > dogs:
    print("Not many dogs!")

Too many cats!
Not many dogs!

In [ ]:
people = 30
cars = 40
trucks = 15

if cars > people:
    print("Let's take the cars.")
elif cars < people:
    print("Let's not take the cars.")
else:
    print("We can't decide.")

## Lists

In [60]:
fruits = ['apples', 'oranges', 'pears', 'apricots']

In [61]:
len(fruits)

4

In [62]:
fruits[2]

'pears'

In [63]:
fruits[5]

IndexError: list index out of range

In [64]:
fruits[-1]

'apricots'

In [65]:
fruits[-2]

'pears'

In [66]:
fruits[0:2]

['apples', 'oranges']

In [67]:
fruits[1:]

['oranges', 'pears', 'apricots']

In [73]:
s = ' '

In [74]:
s.join(fruits)

'apples oranges pears apricots'

In [75]:
', '.join(fruits)

'apples, oranges, pears, apricots'

In [76]:
fruits_text = ' '.join(fruits)
fruits_text

'apples oranges pears apricots'

In [77]:
fruits = fruits_text.split(' ')
fruits

['apples', 'oranges', 'pears', 'apricots']

In [78]:
fruits.append('mango')
print(len(fruits))
print(fruits)

5
['apples', 'oranges', 'pears', 'apricots', 'mango']

In [79]:
fruits.insert(0, 'pork')

In [80]:
fruits

['pork', 'apples', 'oranges', 'pears', 'apricots', 'mango']

In [81]:
fruits.append()

TypeError: append() takes exactly one argument (0 given)

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = []
for each in numbers:
    squared_numbers.append(each ** 2)

print(squared_numbers)

## Slicing

```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```

In [84]:
text = 'python'

In [85]:
text[0:5]

'pytho'

In [86]:
text[:-1]

'pytho'

In [87]:
text[-4:-2]

'th'

In [91]:
fruits

['pork', 'apples', 'oranges', 'pears', 'apricots', 'mango']

In [94]:
fruits[1:3]

['apples', 'oranges']

## Tuples

In [95]:
fruits = ('apples', 'oranges', 'pears', 'apricots')

In [96]:
fruits[1]

'oranges'

In [97]:
fruits[1] = 'pineapple'

TypeError: 'tuple' object does not support item assignment

## Dictionaries

In [98]:
course = {
    'name': 'Python for Young Data Scientists',
    'venue': 'The Connection',
    'cost': 999
}

print(course['name'])
print(course['venue'])
print(course['cost'])

Python for Young Data Scientists
The Connection
999

In [99]:
course['instructor']

KeyError: 'instructor'

In [100]:
course['instructor'] = 'Kan Ouivirach'

print(course)

{'cost': 999, 'instructor': 'Kan Ouivirach', 'name': 'Python for Young Data Scientists', 'venue': 'The Connection'}

In [101]:
course['instructor']

'Kan Ouivirach'

In [102]:
courses = [
    {
        'name': 'Python for Young Data Scientists',
        'venue': 'The Connection 1',
        'cost': 999
    },
    {
        'name': 'R for Young Data Scientists',
        'venue': 'The Connection 2',
        'cost': 999
    },
]

print(courses[1]['name'])
print(courses[1]['venue'])
print(courses[1]['cost'])

R for Young Data Scientists
The Connection 2
999

## Unpacking

In [103]:
item_list = [1, 2, 3]
a = item_list[0]
b = item_list[1]
c = item_list[2]

print(a, b, c)

1 2 3

In [178]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [179]:
a, b, c = (4, 5, 6)
print(a, b, c)

4 5 6

In [184]:
d = {'a': 10, 'b': 20, 'c': 30}
a, b, c = {'a': 10, 'b': 20, 'c': 30}
print(a, b, c)

c b a

In [188]:
d[c]

10

In [ ]:
a, _, c = (4, 5, 6)
a + c

## Functions

In [104]:
print('hi', 1, 23)

hi 1 23

In [105]:
l = [1, 2, 3]
len(l)

3

In [106]:
def just_hello():
    print('Hello')
    print('hi')
    
just_hello()

Hello
hi

In [107]:
just_hello()
just_hello()
just_hello()

Hello
hi
Hello
hi
Hello
hi

In [108]:
def hello(name):
    print('Hello, ' + name)
    
hello('Kan')

Hello, Kan

In [109]:
hello('Python')
hello('World')

Hello, Python
Hello, World

In [110]:
def print_something(a, b, c):
    print('Your input is', a, b, c)
    
print_something(1, 2, 3)

Your input is 1 2 3

In [111]:
(1 + 2 + 3 + 4 + 5)/5

3.0

In [112]:
(3 + 5 + 6 + 1 + 2)/5

3.4

In [114]:
def get_the_mean(a, b, c, d, f):
    return (a + b + c + d + f) / 5

print(get_the_mean(1, 2, 3, 4, 5))

3.0

In [116]:
print(get_the_mean(10, 2, 2, 5, 5))

4.8

## Loops

In [117]:
fruits = ['apples', 'oranges', 'pears', 'apricots']
for each in fruits:
    print("A fruit of type: " + each)

A fruit of type: apples
A fruit of type: oranges
A fruit of type: pears
A fruit of type: apricots

In [118]:
numbers = [1, 2, 3, 4, 5]
total = 0
for each in numbers:
    total = total + each
    print(total, each)
    
print("Total %d" % total)

1 1
3 2
6 3
10 4
15 5
Total 15

In [119]:
"Total " + str(total)

'Total 15'

In [120]:
i = 0
numbers = []

while i < 3:
    print("At the top i is %d" % i)
    numbers.append(i)

    i = i + 1
    print("Numbers now: ", numbers)
    print("At the bottom i is %d" % i)

At the top i is 0
Numbers now:  [0]
At the bottom i is 1
At the top i is 1
Numbers now:  [0, 1]
At the bottom i is 2
At the top i is 2
Numbers now:  [0, 1, 2]
At the bottom i is 3

In [123]:
for each in range(5, 15):
    print(each)

5
6
7
8
9
10
11
12
13
14

## Reading and Writing Files

### Read

In [124]:
current_file = open('example.txt')

In [125]:
current_file.read()

'Hello, all young data scientists\nToday we will have fun together!\n'

In [126]:
current_file.read()

''

In [127]:
current_file.close()

In [128]:
current_file = open('example.txt')

In [129]:
current_file.readline()

'Hello, all young data scientists\n'

In [131]:
current_file.readline()

''

In [132]:
current_file.readline()

''

In [133]:
current_file.close()

In [134]:
current_file = open('example.txt')

In [135]:
current_file.readlines()

['Hello, all young data scientists\n', 'Today we will have fun together!\n']

In [136]:
current_file.close()

### Write

In [137]:
current_file = open('example_new.txt', 'w')
current_file.write('Hey')
current_file.write('Another Hey')
current_file.write('Last Hey')
current_file.close()

In [138]:
!cat example_new.txt

HeyAnother HeyLast Hey

In [139]:
current_file = open('example_new.txt', 'w')

data = ['Hey', 'Another Hey', 'Last Hey']
current_file.writelines(data)
current_file.close()

In [140]:
!cat example_new.txt

HeyAnother HeyLast Hey

In [141]:
current_file = open('example_new.txt', 'w')

data = ['Hey\n', 'Another Hey\n', 'Last Hey\n']
current_file.writelines(data)
current_file.close()

In [142]:
!cat example_new.txt

Hey
Another Hey
Last Hey

## Modules

### Built-In

In [143]:
import random

In [175]:
print(random.randint(1, 100))

47

### 3rd Party

In [176]:
import pandas as pd

In [177]:
pd.info

ถ้าเจอ Error บอกว่า `ValueError: unknown locale: UTF-8` จากคำสั่งด้านบน ให้สั่ง

```
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
```

ที่ terminal หรือไปเพิ่ม 2 บรรทัดนี้ที่ไฟล์ `~/.bash_profile` เสร็จแล้วให้ปิด terminal แล้วเปิดขึ้นมาใหม่

### Your Own

In [189]:
!cat mymodule.py

def fizzbuzz(number):
    if number == 12:
        return 'Fizz'


program_name = 'FizzBuzz'

In [190]:
import mymodule

In [191]:
mymodule.fizzbuzz(12)

'Fizz'

In [192]:
mymodule.program_name

'FizzBuzz'

## Exercises

### Exercise 1

เขียนฟังก์ชั่น `fizzbuzz`

1. ถ้าเลข input หารด้วย 3 ลงตัว ให้ส่งค่า 'Fizz'
2. ถ้าเลข input หารด้วย 5 ลงตัว ให้ส่งค่า 'Buzz'
3. ถ้าเลข input หารด้วย 3 และ 5 ลงตัว ให้ส่งค่า 'FizzBuzz'
4. ถ้าเลข input นั้น หาร 3 และ 5 ไม่ลงตัวเลย ให้ส่งเลข input นั้นกลับมา

In [216]:
def fizzbuzz(number):
    if number % 3 == 0 and number % 5 == 0:
        return 'FizzBuzz'
    if number % 3 == 0:
        return 'Fizz'
    if number % 5 == 0:
        return 'Buzz'
    return number

In [217]:
fizzbuzz(3)

'Fizz'

In [218]:
fizzbuzz(3) == 'Fizz'

True

In [219]:
fizzbuzz(10) == 'Buzz'

True

In [220]:
fizzbuzz(30) == 'FizzBuzz'

True

In [221]:
fizzbuzz(11) == 11

True

### Exercise 2

เขียนฟังก์ชั่น `get_mean` คำนวณค่าเฉลี่ยของเลขชุดๆ หนึ่ง

In [224]:
# your code here
def get_mean(numbers):
    total = 0
    for each in numbers:
        total = total + each
        
    return total / len(numbers)

In [225]:
get_mean([1, 2, 3, 4, 5]) == 3.0

True

In [226]:
get_mean([0, 2, 3, 4, -1]) == 1.6

True

In [227]:
get_mean([5]) == 5.0

True