# Data Analysis with Pandas (2nd Part)

**Outline:**

* [Knowing Basic Stats](#Knowing-Basic-Stats)
* [Grouping](#Grouping)
* Creating Pivot Table
  * https://pbpython.com/pandas-pivot-table-explained.html
  * https://www.dataquest.io/blog/pandas-pivot-table/
  * https://www.digitalocean.com/community/tutorials/data-analysis-and-visualization-with-pandas-and-jupyter-notebook-in-python-3

In [1]:
import pandas as pd

In [2]:
columns = ['age', 'Work Class', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'Money Per Year']
adult = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names=columns)

In [3]:
adult.to_csv('adult.csv')

## Knowing Basic Stats

In [ ]:
df.describe()

In [ ]:
df.cov()

In [ ]:
df.corr()

## Grouping

In [33]:
adult.groupby('education').agg('mean').tail()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
education,,,,,,
HS-grad,38.974479,189538.739739,9.0,576.800114,70.466622,40.575374
Masters,44.049913,179852.362739,14.0,2562.563552,166.719675,43.836332
Preschool,42.764706,235889.372549,1.0,898.392157,66.490196,36.647059
Prof-school,44.746528,185663.706597,15.0,10414.416667,231.203125,47.425347
Some-college,35.756275,188742.922370,10.0,598.824167,71.637087,38.852284

In [34]:
# Same result as above

adult_group = adult.groupby('education')
adult_group.mean().tail()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
education,,,,,,
HS-grad,38.974479,189538.739739,9.0,576.800114,70.466622,40.575374
Masters,44.049913,179852.362739,14.0,2562.563552,166.719675,43.836332
Preschool,42.764706,235889.372549,1.0,898.392157,66.490196,36.647059
Prof-school,44.746528,185663.706597,15.0,10414.416667,231.203125,47.425347
Some-college,35.756275,188742.922370,10.0,598.824167,71.637087,38.852284

In [35]:
adult.groupby(['education', 'sex']).mean().head()

                         age         fnlwgt  education-num  capital-gain  \
education sex
10th       Female  35.447458  187333.010169            6.0    174.901695
           Male    38.346395  201224.846395            6.0    510.771160
11th       Female  30.546296  193806.465278            7.0    128.108796
           Male    33.407806  195580.212651            7.0    265.675639
12th       Female  29.756944  182910.145833            8.0    174.729167

                   capital-loss  hours-per-week
education sex
10th       Female     69.132203       32.111864
           Male       51.164577       39.336991
11th       Female     21.578704       29.821759
           Male       66.650067       36.312248
12th       Female     11.951389       31.791667

In [ ]:
adult.groupby(['education', 'sex']).mean().head(30)

In [38]:
adult.columns = adult.columns.str.lower().str.replace(' ', '-')
adult[['capital-gain', 'capital-loss', 'money-per-year']].groupby('money-per-year').mean()

                capital-gain  capital-loss
money-per-year
 <=50K            148.752468     53.142921
 >50K            4006.142456    195.001530