# Item-Based Collaborative Filtering

In [2]:
import pandas as pd

In [3]:
wine_ratings = pd.read_csv('data/wine-reviews.csv')

In [4]:
wine_ratings.head()

,id,username,wine,rating,comment
0,0,jadianes,Manzanilla La Gitana,4,Beautiful Manzanilla. Great price.
1,1,jadianes,Pol Roger Rose 1998,3,Classy Rose. Not great.
2,2,jadianes,Molino Real 2002,4,This can be great with time.
3,3,jadianes,Le Grappin Bagnum Rose 2013,2,Drinkable...
4,4,jadianes,La Bota de Amontillado 1,5,A treasure of a wine

In [5]:
wine_ratings_pivoted = wine_ratings.pivot('username', 'wine', 'rating').fillna(0)

In [6]:
wine_ratings_pivoted

wine,Chateau Latour 1982,JL Chave Hermitage 2001,La Bota de Amontillado 1,Le Grappin Bagnum Rose 2013,Manzanilla La Gitana,Molino Real 2002,Pol Roger Rose 1998,Raveneu Le Clos 1996,Rosseau Chambertin 2001,Vega Sicilia Unico 1989,Vi√±a Tondonia Blanco Reserva 1981
username,,,,,,,,,,,
carlos,0.0,5.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0
jadianes,0.0,0.0,5.0,2.0,4.0,4.0,3.0,0.0,0.0,0.0,0.0
john,0.0,4.0,2.0,3.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0
lluis,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,5.0
mari,0.0,0.0,0.0,0.0,3.0,5.0,2.0,5.0,0.0,0.0,0.0
pepe,0.0,0.0,5.0,0.0,4.0,0.0,2.0,0.0,4.0,4.0,0.0
teus,0.0,0.0,5.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,4.0
yasset,0.0,0.0,0.0,0.0,4.0,1.0,2.0,4.0,0.0,5.0,0.0

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
cosine_similarity([wine_ratings_pivoted['La Bota de Amontillado 1']], [wine_ratings_pivoted['Manzanilla La Gitana']])

array([[0.68968881]])

In [10]:
wine_ratings_pivoted.columns

Index(['Chateau Latour 1982', 'JL Chave Hermitage 2001',
       'La Bota de Amontillado 1', 'Le Grappin Bagnum Rose 2013',
       'Manzanilla La Gitana', 'Molino Real 2002', 'Pol Roger Rose 1998',
       'Raveneu Le Clos 1996', 'Rosseau Chambertin 2001',
       'Vega Sicilia Unico 1989', 'Vi√±a Tondonia Blanco Reserva 1981'],
      dtype='object', name='wine')

In [12]:
similarity_vector = {}
for each in wine_ratings_pivoted.columns:
    similarity = cosine_similarity(
        [wine_ratings_pivoted[each]], 
        [wine_ratings_pivoted['Le Grappin Bagnum Rose 2013']]
    )[0][0]
    similarity_vector[each] = similarity

In [13]:
similarity_vector

{'Chateau Latour 1982': 0.0,
 'JL Chave Hermitage 2001': 0.5197776981890521,
 'La Bota de Amontillado 1': 0.49926918353143734,
 'Le Grappin Bagnum Rose 2013': 1.0,
 'Manzanilla La Gitana': 0.3719144998532985,
 'Molino Real 2002': 0.4162907234150368,
 'Pol Roger Rose 1998': 0.8207293546575959,
 'Raveneu Le Clos 1996': 0.0,
 'Rosseau Chambertin 2001': 0.0,
 'Vega Sicilia Unico 1989': 0.0,
 'Vi√±a Tondonia Blanco Reserva 1981': 0.0}

In [14]:
def get_key(item):
    return item.key

sorted(similarity_vector, key=similarity_vector.get, reverse=True)

['Le Grappin Bagnum Rose 2013',
 'Pol Roger Rose 1998',
 'JL Chave Hermitage 2001',
 'La Bota de Amontillado 1',
 'Molino Real 2002',
 'Manzanilla La Gitana',
 'Chateau Latour 1982',
 'Raveneu Le Clos 1996',
 'Rosseau Chambertin 2001',
 'Vega Sicilia Unico 1989',
 'Vi√±a Tondonia Blanco Reserva 1981']

In [15]:
wine_ratings_pivoted.loc['mari', :]

wine
Chateau Latour 1982                  0.0
JL Chave Hermitage 2001              0.0
La Bota de Amontillado 1             0.0
Le Grappin Bagnum Rose 2013          0.0
Manzanilla La Gitana                 3.0
Molino Real 2002                     5.0
Pol Roger Rose 1998                  2.0
Raveneu Le Clos 1996                 5.0
Rosseau Chambertin 2001              0.0
Vega Sicilia Unico 1989              0.0
Vi√±a Tondonia Blanco Reserva 1981    0.0
Name: mari, dtype: float64

In [19]:
ratings = wine_ratings_pivoted.loc[
    'mari', [
        'Manzanilla La Gitana', 
        'Molino Real 2002', 
        'Pol Roger Rose 1998', 
        'Raveneu Le Clos 1996'
    ]
]

In [20]:
ratings

wine
Manzanilla La Gitana    3.0
Molino Real 2002        5.0
Pol Roger Rose 1998     2.0
Raveneu Le Clos 1996    5.0
Name: mari, dtype: float64

In [17]:
weigted_sum = (
    (ratings['Manzanilla La Gitana'] * similarity_vector['Manzanilla La Gitana']) + 
    (ratings['Molino Real 2002'] * similarity_vector['Molino Real 2002']) + 
    (ratings['Pol Roger Rose 1998'] * similarity_vector['Pol Roger Rose 1998']) + 
    (ratings['Raveneu Le Clos 1996'] * similarity_vector['Raveneu Le Clos 1996'])
) / (similarity_vector['Manzanilla La Gitana'] + similarity_vector['Molino Real 2002'] + similarity_vector['Pol Roger Rose 1998'] + similarity_vector['Raveneu Le Clos 1996'])

In [18]:
weigted_sum

3.0073664226843553